{% extends "users/emp_dashboard.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Commute</title>
</head>
<body>
{% block content %}
<div class="content-wrapper">

    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <form method="POST" id="emp_form">
                    {% csrf_token%}

                    <h4 class="card-title"> Route Details </h4>
                    <h4 class="card-title"> Date : {{current_date}}</h4>

                        <p class="card-description">Pick</p>
                             <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>

                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-wrap">
                                    Vehicle
                                </td>
                                <td class="text-wrap">
                                    {{pick_vehicle.id}} - {{pick_vehicle}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-wrap">
                                    Distance
                                </td>
                                <td class="text-wrap">
                                    {{indv_distance_pick}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-wrap">
                                    Time
                                </td>
                                <td class="text-wrap">
                                    {{indv_duration_pick|floatformat:2}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-wrap">
                                    Route
                                </td>
                                <td><div class="btn btn-success"><a class="text-decoration-none text-dark"
                                                            target="_blank" href="{{path_data_pick.URL}}">Map </a></div>
                            </tr>

                            <tr>
                                <td class="text-wrap">
                                    Driver Name
                                </td>
                                <td class="text-wrap">
                                    {{driver_pick.name}}
                                </td>
                            </tr>  <tr>
                                <td class="text-wrap">
                                    Driver Contact #
                                </td>
                                <td class="text-wrap">
                                    {{driver_pick.contact_number}}
                                </td>
                            </tr>
                        </tbody>
                    </table>

                                 <p class="card-description">Drop</p>
                                     <table class="table table-bordered">
                        <thead>
                        <tr>

                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-wrap">
                                    Vehicle
                                </td>
                                <td class="text-wrap">
                                    {{drop_vehicle.id}} - {{drop_vehicle}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-wrap">
                                    Distance
                                </td>
                                <td class="text-wrap">
                                    {{indv_distance_drop}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-wrap">
                                    Time
                                </td>
                                <td class="text-wrap">
                                    {{indv_duration_drop|floatformat:2}}
                                </td>
                            </tr>
                            <tr>
                                <td class="text-wrap">
                                    Route
                                </td>
                                <td><div class="btn btn-success"><a class="text-decoration-none text-dark"
                                                            target="_blank" href="{{path_data_drop.URL}}">Map </a></div>
                            </tr>

                            <tr>
                                <td class="text-wrap">
                                    Driver Name
                                </td>
                                <td class="text-wrap">
                                    {{driver_drop.name}}
                                </td>
                            </tr>  <tr>
                                <td class="text-wrap">
                                    Driver Contact #
                                </td>
                                <td class="text-wrap">
                                    {{driver_drop.contact_number}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                             </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="mapModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mapModalLabel">Select Location</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                     <div id="map" style="height: 600px; width: 100%;"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

</body>
</html>