{% extends "users/dashboard.html" %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Smart Commute</title>
</head>
<body>
{% block content %}
<div class="content-wrapper">

    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">


                    <h4 class="card-title"> Vehicle List </h4>
                      <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr  class="table-bordered" >
                            <th class="ml-5">ID</th>
                            <th>Registration No</th>
                            <th>Model</th>
                            <th>Brand</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for vehicle in vehicles %}


                        <tr>
                            <td>{{vehicle.id}}</td>
                            <td>{{vehicle.registration_no}}</td>
                            <td>{{vehicle.model}}</td>
                            <td>{{vehicle.brand}}</td>
                            <td>
                                    <form method="POST">
                    {% csrf_token%}
                                <input type="hidden" name="id" value="{{vehicle.id}}">
                                <div class="d-flex justify-content-end align-items-center ">
                                    <button name="edit_vehicle" id="edit_vehicle"
                                       class="btn btn-success btn-sm btn-icon-text mr-3">
                                        Edit
                                        <i class="typcn typcn-edit btn-icon-append"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm btn-icon-text">
                                        Delete
                                        <i class="typcn typcn-delete-outline btn-icon-append"></i>
                                    </button>
                                </div>
                                    </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

</body>
</html>